__pycache__/**
.vscode/**
constants/**
pages/android/__pycache__/**
utils/__pycache__/**
apps/**
.idea/
venv/
json.pretty.output
reports/report/**
reports/screenshots/**
reports/videos/**
plain.output
package-lock.json
allure-reports/**
allure-results/**
reports/.DS_Store
.DS_Store
